.wrapper {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.sound-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.sound-grid__button {
  height: 100px;
  background: #ddd;

  &:nth-child(4n) {
    border-right: 2px solid #000;
  }

  &:last-child {
    border: none;
  }
}